.cont{
    width: 100%;
    height: 750px;
    border: 2px solid black;
    position:relative;
    background-color: #6F4F28;
    top:10px;


}
.no{
    border: 2px solid black;
    width: 270px;
    height: 50px;
    left: 508px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 60px;

}
.menu{
    position: absolute;
    border: 2px solid black;
    width: 98%;
    height: 80px;
    top: 20px;
    left: 14px;
    background-color:#240000;
    border-radius: 50px;
    
    
    }
    .l img{
        position: absolute;
        width: 90px;
        left: 30px;
      
        top:0 ;
        border-radius: 10px;
    
    }
        .hamburger {
        display: block;
        position: absolute;
        top: 12px;
        right: 86%;
        font-size: 50px;
        cursor: pointer;
        color: white;
        
       
    }
    
    .ms{
       display: flex;
    flex-direction: row;
    justify-content: end;
    color: azure;
    position: absolute;
    top: 10px;
    left: 70%;
;
    
    }
    
    
    .ms li{
        list-style: none;
        margin: 5px;
    } 
    .ms a{
        text-decoration: none;
        color: azure;
    }
    .ms a:hover{
        text-decoration: underline;
        border-radius: 10px;
    }
    .circo{
       position: absolute;
        border: 2px solid  black;
        display: grid;
       background-color: rgba(80, 38, 27, 0.692);
      grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
      grid-template-rows: repeat(3, auto);  /* 3 filas */
        top:20%;
        width: 80%;
        height: 80%;
        left: 10%;
     
       }
       .ca{
        border: 2px solid  black;
        height: 30%;
        width: 40%px;
        position: relative;
        top: 30px;
        right: 80px;
        background-color: white;
    right: 20px;
        position: relative;
        
       }
       .cb{
       width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: white;
    color: #240000;
    position: relative;
    left: 60px;
    top:20px;
       }
       .ca:hover,.c:hover{
        z-index: 50;
        background-color:#834a2f;
        transform: rotateY(180deg); 
        opacity: 0.91; 
        transform: rotate(5deg);
        box-shadow: 0 0 10px rgba(32, 27, 27, 0.6), 0 0 20px rgba(255, 165, 0, 0.5);
        }

.hamburger{
    display: none;
  }
@media (max-width: 480px)
 {
    .menu{
        position: absolute;
        left: 5px;
    }
 .cont{
    position: absolute;
        height:90%;
    }
    .l img {
        width: 70px;
        top: 10px;
        left: 75%;
        position: relative;

    }
    .ms.show {
        display: flex;
     
      
    }

    .ms li {
        margin: 10px 0;
      
    
    }
   

    .ms a {
        font-size: 40px;
        left: -15px;
        position: relative;
        font-family:initial;
        color:white;
        
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 12px;
        right: 86%;
        font-size: 50px;
        cursor: pointer;
        color: white;
        
       
    }

    .ms {
        display: none;
        flex-direction: column;
        background-color: #240000;
        width: 180px;
         top:-12px;
        left: -5px;
        opacity:0.9;
        position: relative;
        z-index: 999;
        border-radius: 5px;
    }
     .circo {
        grid-template-columns: 1fr 1fr; /* 2 columnas en vez de 4 */
        grid-template-rows: auto;
        width: 95%;
        height: 60px;
        left: 17px;
        top: 13%;
        height: 70%;
        position: absolute;
    }

    .ca {
        font-size: 16px;
        width: 96%;
        height: 50px;
        
    }

    .cb {
        width: 60px;
        height: 60px;
        font-size: 12px;
        position: relative;
        left: 70px;
        top: 25px;
    }
    
 }
