.prin{
    width: 100%;
    height: 800px;
    border: 2px solid black;
    position:relative;
    background-color:#29140a;
    top:10px;


}
.menu{
position: absolute;
border: 2px solid black;
width: 98%;
height: 80px;
top: 20px;
left: 12px;
background-color:#240000;
border-radius: 50px;


}
.l img{
    position: absolute;
    width: 90px;
    left: 30px;
 
    top:0px ;
    border-radius: 10px;

}


.ms{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: azure;
    position: absolute;
    top: 10px;
    left: 70%;

}


.ms li{
    list-style: none;
    margin: 5px;
} 
.ms a{
    text-decoration: none;
    color: azure;
}
.ms a:hover{
    text-decoration: underline;
    border-radius: 10px;
}
.nombre{
    position: absolute;
    top:180px ;
    left: 30%;
    width: 45%;
    height: 55px;
    text-align: center;
  color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: bold;
   writing-mode: horizontal-tb;
   transform: rotate(0deg); 
font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

    
.tex{

    width: 100%;
    height: 250px;
    position: absolute;
    top:450px;
    background-color: rgba(32, 14, 14, 0.788);
}
.ca{
    position: absolute;
    border: 1px solid black;
    width: 50%;
    height: 250px;
    

}
.texto{
    position: absolute;
    border: 2px solid black;
    left: 20%;
    top:20%;
    height: 60%;
    width: 60%;
    background-color: beige;
   text-align: center;
}
.cb{
    position: absolute;
    border: 1px solid black;
    width: 50%;
    height: 250px;
   
    left: 50%;
    
}
.di{
  position: absolute;
  border: 2px solid black;
  width: 99%;
  height: 85px;
  top: 260px;
  left: 7px;
  background-color:#251010;
 opacity: 0.8;
}
.dire{
      text-align: right;
       color:white;
     }

.circulo{

    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid black;
    left: 30%;
    top:20px;
    background-color: beige;
    overflow: hidden;
    
  
    
}

  
  .slides {
    display: flex;
    width: 1200px; 
    animation: cambio 9s infinite;
   
    
  }
  
  .slides img {
    width: 400px;
    height: 300px;
  }
  
  @keyframes cambio {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(-400px); }
    66%  { transform: translateX(-800px); }
    100% { transform: translateX(0); }
  }
  .texto {
    position: absolute;
    width: 50%;
    animation: cambiarTexto 16s infinite;
    font-size: 35px;
    text-align: justify;
  
   
  }

  .texto span {
    opacity: 0;
    position: absolute;
  text-align: center;
    transition: opacity 1s ease-in-out;
  }
  .hamburger{
    display: none;
  }
    

  .texto span:nth-child(1) { animation: mostrar 16s infinite 0s; }
  .texto span:nth-child(2) { animation: mostrar 16s infinite 4s; }
  .texto span:nth-child(3) { animation: mostrar 16s infinite 8s; }
  .texto span:nth-child(4) { animation: mostrar 16s infinite 12s; }

  @keyframes mostrar {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    25%  { opacity: 1; }
    35%  { opacity: 0; }
    100% { opacity: 0; }
  }
  .nombre {
    color: rgb(248, 243, 243);
    text-shadow: 0 0 5px white, 0 0 10px rgb(70, 16, 16), 0 0 20px rgb(80, 31, 12);
    animation: resplandor 1.5s infinite alternate;
    
  }
  
  @keyframes brillo {
    from { color: #fdfdfd; }
    to   { color: #a5865dde; }
  }

@media (max-width: 480px)
{
    .ms.show {
        display: flex;
     
      
    }

    .ms li {
        margin: 10px 0;
      
    
    }
   

    .ms a {
        font-size: 40px;
        left: -15px;
        position: relative;
        font-family:initial;
        color:white;
        
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 12px;
        right: 86%;
        font-size: 50px;
        cursor: pointer;
        color: white;
        
       
    }
.menu{
  left: 5px;
}
    .ms {
        display: none;
        flex-direction: column;
        background-color: #240000;
        width: 180px;
         top:-12px;
        left: -5px;
        opacity:0.9;
        position: relative;
        z-index: 999;
        border-radius: 5px;
    }
.nombre{
  font-size: 40px;
  position: absolute;
}
  .circulo{
    left:  40px;
    position: relative;
    top: 50px;
    height: 140px;
    width: 140px;
  }
  .texto{
    font-size: 30px;
    width: 180px;
    left: 18px;
  }
   
    .di{
      font-size: 15px;
      left: 5px;
    }
 .l img {
        width: 70px;
        top: 10px;
        left: 80%;
        position: relative;

    }
}

 