.prin{
    width: 100%;
    height: 90%;
    border: 2px solid black;
    position:absolute;
    background-color:#29140a;
    top:10px;


}
 .hamburger{
    display: none;
  }
.no{
   
    width: 270px;
    height: 50px;
    left: 508px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 60px;

}
      
.menu{
position: absolute;
border: 2px solid black;
width: 98%;
height: 80px;
top: 15px;
left: 14px;
background-color:#240000;
border-radius: 50px;


}
.l img{
    position: absolute;
    width: 90px;
    left: 30px;
 
    top:0px ;
    border-radius: 10px;

}


.ms{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: azure;
    position: absolute;
    top: 10px;
    left: 70%;

}


.ms li{
    list-style: none;
    margin: 5px;
} 
.ms a{
    text-decoration: none;
    color: azure;
}
.ms a:hover{
    text-decoration: underline;
    border-radius: 10px;
}
.sev{
    position: absolute;
    border: 2px solid black;
    width: 65%;
background-color: aliceblue;
height: 580px;
top:120px ;
left: 33%;
border-radius:5%;

}

.sef{
    position: absolute;
    border: 2px solid black;
    width: 31%;
background-color: rgb(241, 236, 234);
height: 580px;
top:120px ;
left: 14px;
border-radius: 5%;
text-align: justify;
font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-zise:9px;
}
.di{
  position: absolute;
  border: 2px solid black;
  width: 100%;
background-color: #311212;
height: 90px;
top:710px;
 opacity: 0.8;

}

    .dire{
      text-align: right;
       color:white;
     }
#slider {
  width: 100%;
  max-width: 100%; 
  height: 100%; 
  margin: auto;
  overflow: hidden;
  position: relative;
}


#slider img {
  width: 100%;  
  height: 100%;
  border-radius:50px ;
  object-fit: cover;
  position: absolute;
  opacity: 0;  
  animation: cambio 9s infinite; 
}


@keyframes cambio {
  0%   { opacity: 1; }
  33%  { opacity: 1; }
  34%  { opacity: 0; }
  66%  { opacity: 1; }
  67%  { opacity: 0; }
  100% { opacity: 0; }
}

#slider img:nth-child(1) {
  animation-delay: 0s; 
}

#slider img:nth-child(2) {
  animation-delay: 3s; }

#slider img:nth-child(3) {
  animation-delay: 6s; 
}

@media (max-width: 480px)
{
    .ms.show {
        display: flex;
     
      
    }

    .ms li {
        margin: 10px 0;
      
    
    }
   

    .ms a {
        font-size: 40px;
        left: -15px;
        position: relative;
        font-family:initial;
        color:white;
        
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 12px;
        right: 86%;
        font-size: 50px;
        cursor: pointer;
        color: white;
        
       
    }

    .ms {
        display: none;
        flex-direction: column;
        background-color: #240000;
        width: 180px;
         top:-12px;
        left: -5px;
        opacity:0.9;
        position: relative;
        z-index: 999;
        border-radius: 5px;
     
    }
    .di{
      font-size: 15px;
      left: 0px;
      top:95%;
height: 40px;
position: absolute;
    }
    .prin{
      height: 100%;
    }
 .l img {
        width: 70px;
        top: 10px;
        left: 80%;
        position: relative;}
.sev{
  width: 90%;
  left: 20px;
  position: absolute;
  top:110px;
}
.sef{
  font-size: 10px;
  top:65%;
  width:96%;
  height: 25%;
    left: 6px;
    text-align: justify;

}
    }

   